.Header_002 {
    display: flex;
    align-items: center;
    height: var(--headerHeight);
    padding: .85dvw 1.75dvw .85dvw 1.2dvw;
    width: 100%;
    border-radius: none !important;
}

.Header001LogoAnchor {
    text-decoration: none;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.Header001LogoText {
    font-size: 16px;
    font-family: f1bl;
}

.Header_002 > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8dvw;
    height: 1.8dvw;
    border-radius: .2dvw;
    margin-left: .5dvw;
    font-size: 14px;
    overflow: hidden;
    /* background: var(--cm); */
    /* border: var(--b1); */
}

.lets_talk_button {
    width: fit-content !important;
    font-size: .9dvw;
    padding: 0 .8dvw;
    font-family: f1bl;
}


.Navigation001 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2dvw;
    top: var(--headerHeight);
    min-height: calc(100dvh - (var(--headerHeight)));
    width: 0;
    background: var(--c2);
    z-index: 10000;
    border-radius: 0;
    overflow: hidden;
    transition: width 1000ms ease;
}

.Navigation001Visible {
    width: 100%;
}

.Navigation001Hidden {
    width: 0;
}

.Navigation001Ul {
    padding: 2dvw;
    display: flex;
    flex-direction: column;
    gap: 2dvw;
}

@media only screen and (max-width: 620px) {

.Header_002 {
    display: flex;
    align-items: center;
    height: var(--headerHeight);
    padding: 0px 15px;
    width: 100%;
    /* background: red; */
    border-radius: none !important;
}

.Header001LogoAnchor {
    text-decoration: none;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.Header001LogoText {
    margin-top: 22px;
    height: 100%;
    font-size: 20px;
    font-family: f1bl;
}

.Header_002 > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: .2dvw;
    margin-left: .5dvw;
    font-size: 14px;
    overflow: hidden;
    /* background: var(--cm); */
    /* border: var(--b1); */
}

.lets_talk_button {
    width: fit-content !important;
    font-size: 16px;
    padding: 0 .8dvw;
    font-family: f1bl;
}


.Navigation001 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2dvw;
    top: var(--headerHeight);
    min-height: calc(100dvh - (var(--headerHeight)));
    width: 0;
    background: var(--c2);
    z-index: 10000;
    border-radius: 0;
    overflow: hidden;
    transition: width 1000ms ease;
}

.Navigation001Visible {
    width: 100%;
}

.Navigation001Hidden {
    width: 0;
}

.Navigation001Ul {
    padding: 2dvw;
    display: flex;
    flex-direction: column;
    gap: 2dvw;
}
}