.Navigation001{
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 10px;
   top:0;
   min-height: 100dvw;
   width:var(--navigation_menu_width);
   background: red;
   padding: 20px;
   z-index: 10000;
}
.Navigation001Visible{
   left:0;
}
.Navigation001Hidden{
   left:var(--navigation_menu_width);
}
.Navigation001Ul{
   display: flex;
   flex-direction: column;
   gap: 10px;
}