.HomeHero{
   height: calc(100dvh - var(--headerHeight));
   min-height: calc(100dvh - var(--headerHeight));
   background: var(--c3);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   padding: 20px 40px 20px 80px;
   border-radius: 0;
}
.HomeHeroImageContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   height: var(--homeChatHeight);
   width: var(--homeChatHeight);
   flex-shrink: 0;
   border-radius: var(--br1);
   overflow: hidden;
   background: var(--c1);
   padding: 10px 30px;
}
.HomeHeroImageImage{
   top: 145px;
   border-radius: 1000px;
   height: 180%;
}



@media only screen and (max-width: 620px)
{
   .HomeHero{
      height: fit-content;
      min-height: calc(100dvh - var(--headerHeight));
      flex-direction: column;
      width: 100%;
      padding: 20px;
      overflow: hidden;
   }
   .HomeHeroImageContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85dvw;
      width: 85dvw;
      flex-shrink: 0;
      border-radius: var(--br1);
      overflow: hidden;
      background: var(--c1);
      padding: 10px 30px;
   }
   .HomeHeroImageImage{
      top:70px;
      border-radius: 1000px;
      height: 150%;
   }
}