.Header001
{
   display: flex;
   align-items: center;
   height: 3.5dvw;
   padding: .85dvw 1.75dvw .85dvw .85dvw;
   background:var(--c1);
   width: 100dvw;
}
.Header001LogoAnchor
{
   text-decoration: none;
   height: 100%;
   width: fit-content;
   display: flex;
   align-items: center;
   margin-right: auto;
}
.Header001LogoText
{
   font-size: 1.1dvw;
   font-family: f1bl;
}
.Header001 > button
{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 1.8dvw;
   height: 1.8dvw;
   border-radius: .2dvw;
   margin-left: .5dvw;
}

@media only screen and (max-width: 620px)
{
   .Header001
   {
      display: flex;
      align-items: end;
      height: 16dvw;
      padding: 4dvw 4dvw;
      background:var(--c1);
      width: 100dvw;
   }
   .Header001LogoAnchor
   {
      text-decoration: none;
      height: 100%;
      width: fit-content;
      display: flex;
      margin-right: auto;
   }
   .Header001LogoText
   {
      top: -.05dvw;
      font-size: 5.20dvw;
      font-family: f1bl;
   }
   .Header001 > button
   {
      width: 8dvw;
      height: 8dvw;
      border-radius: .8dvw;
      margin-left: 2dvw;
   }
}