.Header001
{
   display: flex;
   align-items: center;
   height: var(--headerHeight);
   padding: 15px 15px;
   background:var(--c1);
}
.Header001LogoAnchor
{
   text-decoration: none;
   height: 100%;
   width: fit-content;
   display: flex;
   align-items: center;
   margin-right: auto;
}
.Header001LogoText
{
   font-size: calc(var(--headerHeight)/3.2);
   font-family: f1bl;
}
.Header001 > button
{
   font-size: var(--global_font_size);
   height: 100%;
   border-radius: var(--border-radius1);
   margin-left: var(--margin_global1);
}

@media only screen and (max-width: 620px)
{
   .Header001
   {
      display: flex;
      align-items: center;
      height: var(--headerHeight);
      padding: 15px;
      background:var(--c1);
   }
   .Header001LogoAnchor
   {
      text-decoration: none;
      height: 100%;
      width: fit-content;
      display: flex;
      align-items: center;
      margin-right: auto;
   }
   .Header001LogoText
   {
      font-size: 17px;
      font-family: f1bl;
   }
   .Header001 > button
   {
      font-size: var(--global_font_size);
      height: 100%;
      border-radius: var(--border-radius1);
      margin-left: var(--margin_global1);
   }
}