.Hero001 {
  display: grid;
  grid-template-columns: 1dvw 25dvw 1dvw auto 2dvw 25dvw 1dvw;
  grid-template-rows: 1dvw 2dvw .85dvw 29.5dvw 1dvw ;
}
.Hero001>* {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border_radius_2);
}

.ImageContainer {
  background: white;
  grid-column: 2;
  grid-row: 2 / span 3;
  width: 100%;
  overflow: hidden;
  border-radius: .9dvw;
}
.ImageContainer>img {
  height: 100%;
  left: 2.1dvw;
}

.CurrentViewerPanel {
  grid-column: 4;
  grid-row: 4;
  width: 100%;
  /* border: solid 2px var(--c10); */
  font-size: 2dvw;
  background: var(--c1);
}
.CurrentViewerPanel > * {
  font-size: 4dvw;
}

.OptionsDashboardContainerPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 2;
  grid-row: 4;
}
.OptionsDashboardContainerPanel>h1 {
  display: none;
  font-size: 1.1dvw;
  font-family: f1bl;
}
.OptionsDashboardContainer {
  padding: .75dvw 0;
  grid-column: 4;
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1dvw;
  width: 100%;
  /* border: solid .2dvw var(--c10); */
  /* background: var(--c1); */
  padding: 0;
}
.OptionsDashboard-FacetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2dvw;
  width: 2dvw;
  overflow: hidden;
  border-radius: var(--border_radius1);
  cursor: pointer;
  background: var(--c1);
}
.OptionsDashboardActionButton {
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: 8;
  background: var(--c10);
  border-radius: .2dvw;
  color: var(--c1) !important;
  font-family: f1b;
  font-size: .9dvw;
  width: 6dvw;
  display: none;
}


/* @media only screen and (max-width: 950px) and (min-width: 621px) {} */

@media only screen and (max-width: 620px) {
  .Hero001 {
    grid-template-columns: 5dvw 42.5dvw 5dvw 42.5dvw 5dvw;
    grid-template-rows: 5dvw 5dvw 3dvw 30dvw 3dvw 8dvw 5dvw auto 5dvw;
    height: fit-content;
    width: 100%;
    /* border: solid 1px red; */
  }

  .ImageContainer {
    grid-column: 2;
    grid-row: 2 / span 5;
    width: 100%;
  }

  .ImageContainer>img {
    top: 0px;
    left: 2dvw;
    height: 100%;
  }

  .CurrentViewerPanel {
    grid-column: 2;
    column-span: 2;
    grid-row: 8;
    width: 93.0dvw;
  }

  .OptionsDashboardContainerPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 4;
    grid-row: 2;
  }
  .OptionsDashboardContainerPanel>h1 {
    display: block;
    font-size: 4.75dvw;
    font-family: f1bl;
  }
  .OptionsDashboardContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6%;
    grid-column: 4;
    grid-row: 4;
    padding: 0;
    border: none;
  }
  .OptionsDashboard-FacetButton {
    display: flex;
    height: 26%;
    width: 20%;
    /* border: solid 0.1dvw var(--c5); */
  }
  .OptionsDashboard-FacetButton > img {
    border: none;
  }
  .OptionsDashboardActionButton {
    display: flex;
    align-items: center;
    grid-column: 4;
    grid-row: 6;
    background: var(--c10);
    border-radius: .8dvw;
    color: var(--c1) !important;
    font-family: f1b;
    width: 47%;
    font-size: 3dvw;
  }
}

@media only screen and (max-width: 350px) {}