.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--c10);
  max-height: 25dvw;
  height: 7dvw;
  padding: 1dvw 0;
  gap: .75dvw;
}

.Footer>a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--c1) !important;
  color: var(--c10) !important;
  font-size: .85dvw;
  padding: 0 .9dvw;
  border-radius: .2dvw;
  font-family: f1b;
  width: 6dvw;
  height: 1.85dvw;
}

.footer_links_heading {
  color: var(--c1) !important;
  font-family: f1b;
  font-size: .85dvw;
}

@media only screen and (max-width: 950px) and (min-width: 621px) {}

@media only screen and (max-width: 620px) {
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--c10);
    max-height: 225dvw;
    height: 450px !important;
    padding: 5dvw;
    width: 100dvw;
    gap: 3dvw;
  }

  .Footer>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--c1) !important;
    color: var(--c10) !important;
    font-size: 3.15dvw;
    padding: 0 .9dvw;
    border-radius: .75dvw;
    font-family: f1bl;
    width: 22dvw;
    height: 7dvw;
  }

  .footer_links_heading {
    display: flex;
    flex-wrap: wrap;
    color: var(--c1) !important;
    font-family: f1b;
    font-size: 4.5dvw;
    width: 22dvw;
    line-height: 5dvw;
  }
}

@media only screen and (max-width: 350px) {}